git+https://github.com/catalystneuro/neuroconv.git@36fe8ba02c036e715a915ee66079391a50536fb2#egg=neuroconv
hdmf==3.6.1 # Pin until https://github.com/catalystneuro/ndx-photometry/issues/8 is resolved
ndx-photometry==0.2.0
ndx-events==0.2.0
openpyxl>=3.1.2
